* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  height: 100vh;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.head {
  background-image: url(/image/back.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  line-height: 1.9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.btn {
  width: 75px;
  height: 5vh;
  background-color: #f40606;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-right: 10%;
  border-radius: 5px;
  border: 1px solid #f40606;
}

.btn:hover {
  background-color: #710a0a;
}

.limi {
  text-align: center;
  margin-top: 13%;
}

h1 {
  font-weight: 1000;
}

button {
  width: 150px;
  height: 5vh;
  background-color: #f40606;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-right: 100px;
  border-radius: 5px;
  border: 1px solid #f40606;
}

input {
  height: 5vh;
  width: 20%;
  border: 2px solid #fff;
  background-color: transparent;
}

::placeholder {
  color: #fff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.enjoy,
.down,
.Kids {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6% 10%;
}

.vid {
  position: absolute;
  left: 54.5%;
  top: 100px;
  z-index: -1;
}

.everywhere {
  align-items: center;
  margin-left: 30%;
  margin-top: 7%;
  margin-bottom: 7%;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #414141;
  background-color: #414141;
  padding: 15px;
}

.faq {
  font-weight: 1000;
  text-align: center;
  margin-bottom: 15px;
}

.deti {
  margin: 30px 100px;
}

.cen {
  text-align: center;
  line-height: 1.9;
}

.foo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7% 10%;
  line-height: 1.6;
}
li {
  list-style: none;
}

a {
  color: #fff;
}

.option {
  background-color: transparent;
  color: #a1a1a1;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 2px solid #fff;
}
